---
const { frontmatter } = Astro.props;

import Layout from './Layout.astro';
import '../styles/global.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/700.css';
---

<Layout title={frontmatter.title}>
  <section>
    <div class="blog-content-wrapper">
      <h1>{frontmatter.title}</h1>
      <h2>Written by: {frontmatter.author}</h2>
      <h4>{frontmatter.pubDate.slice(0,10)}</h4>
      <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
      <div class="contents"><slot /></div>
    </div>
  </section>
</Layout>

<style>
  section {
    padding-top: 100px;
    margin: 0 10px 0 10px;
  }
  .blog-content-wrapper {
    margin: 0 auto;
    max-width: 42em;
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 0.9em;
    font-size: 2.3em;
    font-weight: 700;
    color: var(--grad-two);
    margin: 0;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #ed80fb;
    margin: 10px 0;
  }

  .date-static-btn {
    display: inline-block;
        padding: 10px 34px;
        background: black;
        color: rgb(255, 255, 255);
        text-align: center;
        border: 2px solid transparent;
        font-family: 'Poppins', Courier, monospace;
        font-weight: 600;
        border-radius: 40px;
        cursor: pointer;
        background: var(--blue-gradient);
  }

  h4 {
    color: rgb(189, 220, 248);
    font-weight: 400;
  }
  .contents {
    color: rgb(189, 220, 248);
  }

</style>